#texto{
	text-align: center;
}

#texto h1{
	font-size: 55px;
	font-family: impact;
}

#texto a{
	color:black;
	font-size: 15px;
}

#texto a:hover{
	font-weight: bold;
	color:black;
	background-color:#008080;
	border-radius: 5px;
}