body{
	margin:0;
}

#menu{
	margin-left: 50%;
	position:absolute;
	margin-top:1%;
	list-style:none;

}

#menu li{
	display:inline;
}

#menu a{
	text-decoration: none;
	color:white;
	font-family:Candara;
	padding: 2px 20px;
	display: inline-block;
}

#menu a:hover{
	font-weight: bold;
	color:black;
	background-color:#008080;
	border-radius: 5px;
}

#cabeçalho{
	border-radius: 10px;
	margin-top:2px;
	margin-left: 2px;
	margin-right: 2px;
	background-color:#66CDAA;
	width:100%;
	height: 100%;

}

#cabeçalho p{
	font-family: Candara;
	font-weight: bold;
	font-size: 20px;
	margin-left: 41%;
	margin-top: 0.9%;
	position: absolute;
}

#cabeçalho a{
	color:black;
	margin-left:16%;
	font-family:impact;
	text-decoration:underline;
	font-size:55px;
	text-decoration:none;
}

#icon{
	position: absolute;
	margin-top:-4%;
	margin-left:9%;
	
}

#texto{
	background-color: white;
	margin-left:24%;
	float:left;
	width:52%;
}

#rodape{
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 10px;
	float:left;
	width:100%;
	background-color:#66CDAA;
}

#rodape a{
	text-decoration: none;
	color:white;
	font-family:impact;
}

#rodape a:hover{
	font-weight: bold;
	color:black;
}