#texto p{
	margin-left: 12%;
	margin-right: 10%;
	font-family:arial;
	font-size:25px;
	text-align:left;
}

#texto iframe{
	border-radius: 10px;
	margin-left: 12%;
	width: 75%;
	height: 450px;
	border:4px solid #999;
}

#mapa{
	border-radius:10px; 
	width:50%;
	border:4px solid #999;
	margin-left:25%;
}

#texto h1{
	text-align: center;
	font-family: impact;
	font-size:45px;
}
