#texto h1{
	text-align: center;
	font-size: 45px;
	font-family: impact;
}

#texto h4{
	text-align: center;
	font-size: 30px;
	font-family: impact;
	margin-left: 1%;
	text-decoration: underline;
}

#pireimg{
	margin-left: 1%;
	float: left;
	width: 50%;
	height: 362px;
}

#pireimg img{
	border-radius: 10px;
	border:2px solid #999;
	width:100%;
	height:100%;
}

#pire{
	margin-left: 1%;
	float: left;
	width: 48%;
}

#pire p{
	text-align: center;
	font-family: arial;
	font-size: 24px;
}

#cavalimg{
	margin-top: 9%;
	margin-right: 1%;
	float: right;
	width: 50%;
	height: 362px;
}

#cavalimg img{
	border-radius: 10px;
	border:2px solid #999;
	width:100%;
	height:100%;
}

#caval{
	margin-right:1%;
	float: right;
	width: 48%;
}

#caval p{
	text-align: center;
	font-family: arial;
	font-size: 24px;
}

#altoimg{
	margin:1%;
	margin-top: 8%;
	margin-left: 1%;
	float: left;
	width: 50%;
	height: 362px;
}

#altoimg img{
	border-radius: 10px;
	border:2px solid #999;
	width:100%;
	height:100%;
}

#alto{
	margin-left: 1%;
	float: left;
	width: 47%;
}

#alto p{
	text-align: center;
	font-family: arial;
	font-size: 24px;
}